[submodule "voice_conversion"]
	path = voice_conversion
	url = https://github.com/RussellSB/voice_conversion
[submodule "wavenet_vocoder"]
	path = wavenet_vocoder
	url = https://github.com/RussellSB/wavenet_vocoder
