pool/
flickr_audio.tar.gz
flickr_audio/
.venv/
*.ipynb
.ipynb_checkpoints
VAE-CYCLE-GAN/__pycache__/
WAVENET-DECODER/__pycache__/
WAVENET-DECODER/out/
WAVENET-DECODER/egs/data/
WAVENET-DECODER/egs/dump/
WAVENET-DECODER/egs/exp/
WAVENET-DECODER/egs/exp/generated/
WAVENET-DECODER/egs/exp/intermediate/
WAVENET-DECODER/egs/tensorboard/