.venv/
*.ipynb
.ipynb_checkpoints
voice_conversion/__pycache__/
wavenet_vocoder/__pycache__/
wavenet_vocoder/out/
wavenet_vocoder/egs/data/
wavenet_vocoder/egs/dump/
wavenet_vocoder/egs/exp/
wavenet_vocoder/egs/exp/generated/
wavenet_vocoder/egs/exp/intermediate/
wavenet_vocoder/egs/tensorboard/
data/

